<VirtualHost *:443>
    ServerName {{ server_name }}
    {% for alias in server_aliases %}
      ServerAlias {{ alias }}
    {% endfor %}
    PassengerRuby {{ passenger_ruby }}
    DocumentRoot {{ document_root }}
    SSLEngine On

    {% if local_certificate_file and local_certificate_key_file %}
    SSLCertificateFile /etc/ssl/{{ local_certificate_file }}
    SSLCertificateKeyFile /etc/ssl/private/{{ local_certificate_key_file }}
    {% if local_certificate_chain_file %}
    SSLCertificateChainFile /etc/ssl/{{ local_certificate_chain_file }}
    {% endif %}
    {% endif %}

    {% if certificate_file and certificate_key_file %}
    SSLCertificateFile {{ certificate_file }}
    SSLCertificateKeyFile {{ certificate_key_file }}
    {% if certificate_chain_file %}
    SSLCertificateChainFile {{ certificate_chain_file }}
    {% endif %}
    {% endif %}

    {% if max_requests %}
    PassengerMaxRequests {{ max_requests }}
    {% endif %}

    <Directory {{ document_root }}>
      Require all granted
    </Directory>

    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{DOCUMENT_ROOT}/maintenance.html -f
        RewriteCond %{DOCUMENT_ROOT}/maintenance.enable -f
        RewriteCond %{SCRIPT_FILENAME} !maintenance.html
        RewriteRule ^.*$ /maintenance.html [R=503,L]
        ErrorDocument 503 /maintenance.html
    </IfModule>

</VirtualHost>
